[package]
name = "diffsitter"
description = "An AST based difftool for meaningful diffs"
readme = "README.md"
version = "0.6.7-alpha.0"
authors = ["Afnan Enayet <afnan@afnan.io>"]
edition = "2018"
license = "MIT"
keywords = ["diff", "ast", "difftool"]
categories = ["command-line-utilities"]
build = "build.rs"
homepage = "https://github.com/afnanenayet/diffsitter"
repository = "https://github.com/afnanenayet/diffsitter"
include = [
    "src/**/*",
    "LICENSE",
    "README.md",
    "grammars/**/*.c",
    "grammars/**/*.cc",
    "grammars/**/*.cpp",
    "grammars/**/*.h",
    "grammars/**/*.hpp",
    "build.rs",
    "!**/*.png",
    "!**/test/**/*",
    "!**/*_test.*",
    "!**/examples/**/*",
    "!**/target/**/*",
    "!assets/*"
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tree-sitter = "0.19"
structopt = { version = "0.3", features = ["paw"] }
anyhow = "1.0"
phf = { version = "0.8", features = ["macros"] }
console = "0.14"
paw = "1.0"
strum = "0.20"
strum_macros = "0.21"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
json5 = "0.3"
pretty_env_logger = "0.4"
log = { version = "0.4", features = ["std"] }
thiserror = "1.0"
logging_timer = "1.0"

[target.'cfg(target_os = "windows")'.dependencies]
# We use directories next to get the windows config path
directories-next = "2.0"

[target.'cfg(not(target_os = "windows"))'.dependencies]
# We use XDG for everything else
xdg = "2.2"

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }
phf = { version = "0.8", features = ["macros"] }
anyhow = "1.0"
cargo-emit = "0.1"
rayon = "1.5"

[profile.release]
lto = "thin"
