[package]
name = "diffsitter"
description = "An AST based difftool for meaningful diffs"
readme = "README.md"
version = "0.7.1"
authors = ["Afnan Enayet <afnan@afnan.io>"]
edition = "2021"
license = "MIT"
keywords = ["diff", "ast", "difftool"]
categories = ["command-line-utilities"]
build = "build.rs"
homepage = "https://github.com/afnanenayet/diffsitter"
repository = "https://github.com/afnanenayet/diffsitter"
include = [
  "src/**/*",
  "LICENSE",
  "README.md",
  "grammars/**/*.c",
  "grammars/**/*.cc",
  "grammars/**/*.cpp",
  "grammars/**/*.h",
  "grammars/**/*.hpp",
  "build.rs",
  "!**/*.png",
  "!**/test/**/*",
  "!**/*_test.*",
  "!**/examples/**/*",
  "!**/target/**/*",
  "!assets/*",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tree-sitter = "0.20.8"
clap = { version = "3.2.15", features = [
  "derive",
  "env",
  "unicode",
  "wrap_help",
] }
clap_complete = "3.2.3"
anyhow = "1.0.58"
phf = { version = "0.10.1", features = ["macros"] }
console = "0.15.0"
strum = { version = "0.24.1", features = ["derive"] }
strum_macros = "0.24.2"
serde = { version = "1.0.139", features = ["derive"] }
serde_json = "1.0.82"
json5 = "0.4.1"
pretty_env_logger = "0.4.0"
log = { version = "0.4.17", features = ["std"] }
thiserror = "1.0.31"
logging_timer = "1.1.0"
build-info = { version = "0.0.27", optional = true }
jemallocator = { version = "0.5.0", optional = true }
libloading = "0.7.3"
unicode-segmentation = "1.9.0"

[dev-dependencies]
test-case = "2.1.0"
pretty_assertions = "1.2.1"

# We need the backtrace feature to enable snapshot name generation in
# single-threaded tests (tests using cargo cross run single-threaded due to
# limitations with QEMU).
insta = { version = "1.15.0", features = ["backtrace"] }

[target.'cfg(target_os = "windows")'.dependencies]
# We use directories next to get the windows config path
directories-next = "2.0.0"

[target.'cfg(not(target_os = "windows"))'.dependencies]
# We use XDG for everything else
xdg = "2.4.1"

[build-dependencies]
cc = { version = "1.0.73", features = ["parallel"] }
phf = { version = "0.10.1", features = ["macros"] }
anyhow = "1.0.58"
cargo-emit = "0.2.1"
rayon = "1.5.3"
thiserror = "1.0.31"
build-info-build = { version = "0.0.27", optional = true }

[features]
default = ["static-grammar-libs"]

# Enable full build info as a subcommand. This takes longer to build so it's
# generally just enabled for releases.
better-build-info = ["build-info", "build-info-build"]

# Enable dynamically loading libraries instead of compiling the libraries as
# submodules.
dynamic-grammar-libs = []

# Compile the static tree-sitter grammars from the submodules in this repo.
static-grammar-libs = []

[profile.production]
inherits = "release"
lto = true
codegen-units = 1
# Makes the binary a little smaller
strip = true
