class Diffsitter < Formula
  desc "Tree-sitter based AST difftool to get meaningful semantic diffs"
  homepage "https://github.com/afnanenayet/diffsitter"
  version "$short_version"
  url "https://github.com/afnanenayet/diffsitter/releases/download/$version/diffsitter-x86_64-apple-darwin.tar.gz"
  sha256 "$checksum"
  license "MIT"

  def install
    bin.install "diffsitter"
    bin.install "git-diffsitter"
  end
end
