name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build ${{ matrix.job.target }}
    runs-on: ${{ matrix.job.os }}
    strategy:
      matrix:
        job:
          - { os: macos-latest, target: x86_64-apple-darwin }
          - {
              os: ubuntu-latest,
              target: x86_64-unknown-linux-gnu,
            }
          - {
              os: ubuntu-latest,
              target: i686-unknown-linux-gnu,
            }
          # - {
          #     os: ubuntu-latest,
          #     target: arm7-unknown-linux-gnueabihf,
          #   }
          - {
              os: ubuntu-latest,
              target: aarch64-unknown-linux-gnu,
            }
          - {
              os: windows-latest,
              target: x86_64-pc-windows-msvc,
            }
          - {
              os: windows-latest,
              target: aarch64-pc-windows-msvc,
            }
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - if: ${{ matrix.job.os == 'ubuntu-latest' }}
        name: Install cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.job.target }}
      - if: ${{ matrix.job.os != 'ubuntu-latest' }}
        name: Install native Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          targets: ${{ matrix.job.target }}
          components: rustfmt,clippy
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        with:
          key: ci-${{steps.toolchain.outputs.name}}
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest
      - name: Check formatting
        run: cargo fmt --all -- --check
      - if: ${{ matrix.job.target == 'x86_64-unknown-linux-gnu' }}
        name: Doc tests
        run: cargo test --doc --features better-build-info,static-grammar-libs,dynamic-grammar-libs
      - name: Tests
        run: cargo nextest run --locked --target ${{ matrix.job.target }} --features better-build-info,static-grammar-libs,dynamic-grammar-libs
