name: Publish

on:
  push:
    tags:
      - "*"

jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            asset_name: diffsitter-linux-amd64
            artifact_name: diffsitter
          - os: macOS-latest
            asset_name: diffsitter-darwin-amd64
            artifact_name: diffsitter
          - os: windows-latest
            asset_name: diffsitter-windows-amd64
            artifact_name: diffsitter.exe
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Build optimized binary
        run: cargo build --release --locked
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-optimized-${{ hashFiles('**/Cargo.lock') }}
      - name: Create archive
        uses: master-atul/tar-action@v1.0.2
        id: compress
        with:
          command: c
          files: |
            ./target/release/${{ matrix.artifact_name }}
          outPath: ${{ matrix.asset_name }}.tar.gz
      - name: Upload binary to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.asset_name }}.tar.gz
          asset_name: ${{ matrix.asset_name }}.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
